<%= image_tag 'homepage_banner.png' %>
<%= image_tag 'center61_space.png', style: "float: left" %>
<div style="float: left; width: 530px; height: 265px">
	<center>
		<h1>Become a member. <br>Co-work with us, starting at <br>just $25 a month.</h1>
		<a href="http://center61.wufoo.com/forms/center61-membership-application/" class="homepage_button">Apply for Membership</a>
	</center>
</div>

<%= link_to (image_tag 'icon_twitter.png'), "http://www.twitter.com/c61tweets", target: "blank" %>
<%= link_to (image_tag 'icon_facebook.png'), "http://www.facebook.com/center61", target: "blank" %>
<%= link_to (image_tag 'icon_tumblr.png'), "http://center61.tumblr.com/", target: "blank"  %>